@mixin side-paddings($padding: 2rem) {
    padding-left: $padding;
    padding-right: $padding;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: hsl(0, 0%, 9%);
    color: white;
    font-family: Helvetica,Arial,sans-serif;
}


header {
    padding: 0.75rem;
    @include side-paddings;
    background-color: hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 660px) {
        @include side-paddings(1rem);
    }
    div {
        gap: 0.5rem;
        display: flex;
        align-items: center;
        small {
            @media screen and (max-width: 660px) {
                display: none;
            }
        }
    }
    img {
        height: 2.25rem;
        width: auto;
    }
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid hsl(0, 0%, 53%);
    border-radius: 0.1rem;
    background-color: transparent;
    color: inherit;
    text-transform: uppercase;
    &:hover {
        background-color: rgb(45,45,45);
    }
    &.btn-red {
        background-color: hsl(357, 96%, 44%);
        border: none;
        &:hover{
            background-color: hsl(357, 95%, 49%);
        }
    }
}

#billboard {
    padding-top: 1.5rem;
    @include side-paddings;
    @media screen and (max-width: 660px) {
        @include side-paddings(1rem);
    }
    h1 {
        font-size: 3rem;
        font-weight: 900;
        margin: 0;
    }
    p {
        width: 65%;
        display: inline-block;
        font-size: larger;
        @media screen and (max-width: 660px) {
            width: 100%;
            font-size: medium;
        }
    }
}

article {
    padding-bottom: 1rem;
    @include side-paddings;
    @media screen and (max-width: 660px) {
        @include side-paddings(1rem);
    }
    h3 {
        font-weight: 100;
        margin-bottom: 0;
        margin-top: 2rem;
    }
}

.carousel {
    position: relative;
    button {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100%;
        z-index: 10;
        border: none;
        outline: none;
        cursor: pointer;
        @media screen and (max-width: 660px) {
            display: none;
        }
        &.prev-btn {
            left: 0;
            padding: 0 4rem 0 0;
            background: linear-gradient(to right, hsla(0, 0%, 9%, 1), hsla(0, 0%, 9%, 0.8), hsla(0, 0%, 9%, 0.5), transparent);
        }
        &.next-btn {
            right: 0;
            padding: 0 0 0 4rem;
            background: linear-gradient(to right, hsla(0, 0%, 9%, 0), hsla(0, 0%, 9%, 0.5), hsla(0, 0%, 9%, 0.8), hsla(0, 0%, 9%, 1));
            svg {
                transform: rotate(180deg);
            }
        }
        svg {
            width: 3rem;
            height: 3rem;
            fill: hsl(357, 96%, 44%);
        }
    }
    ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        column-gap: 1vw;
        overflow-x: hidden;
        scroll-behavior: smooth;
        @media screen and (max-width: 660px) {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        li {
            text-align: center;
            a {
                text-decoration: none;
                color: white;
                img {
                    width: 25vw;
                    @media screen and (max-width: 660px) {
                        width: 40vw;
                    }
                }
            }
        }
    }
}

footer {
    padding-bottom: 3rem;
    color: hsl(0, 0%, 46%);
    @include side-paddings;
    ul {
        padding-left: 0;
        margin: 2rem 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1rem;
        @media screen and (max-width: 660px) {
            grid-template-columns: repeat(2, 1fr);
        }
        li {
            font-size: smaller;
        }
    }
    div {
        display: inline-block;
        position: relative;
        &::before {
            position: absolute;
            top: 28%;
            left: 0.5rem;
            content: '🌐';
        }
        select {
            padding: 1rem 2rem;
            border: 1px solid hsl(0, 0%, 46%);
            background-color: black;
            outline: none;
            color: inherit;
        }
    }

}