$pri-red: hsl(357, 96%, 45%);
$sec-red: hsl(357, 95%, 50%);
$bg-clr: hsl(0, 0%, 10%);
$bdr-clr:hsl(0, 0%, 50%);
$mut-clr: hsl(0, 0%, 65%);


@mixin side-paddings($padding: 2rem) {
    padding-left: $padding;
    padding-right: $padding;
}