@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import "partials";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: $bg-clr;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
}

header {
    padding: 0.75rem;
    @include side-paddings;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    @media screen and (max-width: 660px) {
        @include side-paddings(1rem);
        background-color: transparentize(black, 0.2);
    }
    div {
        gap: 0.5rem;
        display: flex;
        align-items: center;
        small {
            @media screen and (max-width: 660px) {
                display: none;
            }
        }
    }
    img {
        height: 2.25rem;
        width: auto;
    }
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid $bdr-clr;
    border-radius: 0.15rem;
    background-color: transparent;
    color: inherit;
    text-transform: uppercase;
    outline: none;
    &:hover {
        background-color: hsl(0, 0%, 18%);
    }
    &.btn-red {
        background-color: $pri-red;
        border: none;
        &:hover{
            background-color: $sec-red;
        }
    }
}

footer {
    padding-bottom: 3rem;
    color: $mut-clr;
    @include side-paddings;
    ul {
        padding-left: 0;
        margin: 2rem 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1rem;
        @media screen and (max-width: 660px) {
            grid-template-columns: repeat(2, 1fr);
        }
        li {
            font-size: smaller;
        }
    }
    div {
        display: inline-block;
        position: relative;
        &::before {
            position: absolute;
            top: 33%;
            left: 0.5rem;
            font-family: 'FontAwesome';
            content: '\f0ac'
        }
        &::after {
            position: absolute;
            top: 30%;
            right: 0.5rem;
            font-family: 'FontAwesome';
            content: '\f0d7';
            pointer-events: inherit;
        }
        select {
            padding: 1rem 2rem;
            border: 1px solid $bdr-clr;
            border-radius: 0.2rem;
            background-color: black;
            outline: none;
            color: inherit;
            appearance: none;
        }
    }
}
