@import 'partials';

#billboard {
    padding-top: 1rem;
    @include side-paddings;
    @media screen and (max-width: 660px) {
        @include side-paddings(1rem);
    }
    h1 {
        font-size: 3rem;
        font-weight: 900;
        margin: 0;
    }
    p {
        width: 65%;
        display: inline-block;
        font-size: larger;
        @media screen and (max-width: 660px) {
            width: 100%;
            font-size: medium;
        }
    }
}

.carousel {
    margin: 1.5rem 0;
    @include side-paddings;
    &.loading {
        height: 10vh;
        position: relative;
        &::before {
            top: 50%;
            left: 1rem;
            right: 1rem;
            height: 90%;
            content: '';
            position: absolute;
            display: block;
            background: linear-gradient(to right, transparent, transparentize($pri-red, 0.85), transparent);
            animation: load 1.5s ease-in-out infinite;
            @keyframes load {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
    &.error {
        position: relative;
        height: 10vh;
        &::before {
            top: 50%;
            left: calc(50% - 6rem);
            padding: 1rem 2rem;
            font-size: small;
            font-family: Helvetica,'FontAwesome';
            content: '\f071' ' ' attr(data-error);
            position: absolute;
            color: transparentize($pri-red, 0.05);
            background: linear-gradient(to right, transparent, transparentize($pri-red, 0.85), transparent);
        }
    }
    &:nth-last-of-type(2) {
        pointer-events: none;
        filter: blur(5px);
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top, $bg-clr, transparentize($bg-clr, 0.13), transparent);
        }
    }
    @media screen and (max-width: 660px) {
        @include side-paddings(1rem);
    }
    h3 {
        font-weight: 100;
        margin: 0
    }
    section {
        position: relative;
        button {
            position: absolute;
            top: 0;
            margin: 0;
            height: 100%;
            z-index: 10;
            border: none;
            outline: none;
            cursor: pointer;
            @media screen and (max-width: 660px) {
                display: none;
            }
            &.prev-btn {
                left: 0;
                padding: 0 4rem 0 0;
                background: linear-gradient(to right, $bg-clr, transparentize($bg-clr, 0.2), transparentize($bg-clr, 0.5), transparent);
            }
            &.next-btn {
                right: 0;
                padding: 0 0 0 4rem;
                background: linear-gradient(to right, transparent, transparentize($bg-clr, 0.5), transparentize($bg-clr, 0.2), $bg-clr );
                svg {
                    transform: rotate(180deg);
                }
            }
            svg {
                width: 3rem;
                height: 3rem;
                fill: $pri-red;
            }
        }
        ul {
            padding-left: 0;
            list-style: none;
            display: flex;
            column-gap: 2vw;
            overflow-x: hidden;
            scroll-behavior: smooth;
            will-change: scroll-position;
            @media screen and (max-width: 660px) {
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            li {
                width: 25vw;
                white-space: nowrap;
                @media screen and (max-width: 660px) {
                    width: 40vw;
                }
                a {
                    text-decoration: none;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;
                    align-items: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    img {
                        width: 25vw;
                        @media screen and (max-width: 660px) {
                            width: 40vw;
                        }
                    }
                }
            }
        }
    }
}

.banner {
    font-size: 1.4rem;
    @include side-paddings;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -6rem;
    @media screen and (max-width: 660px) {
        @include side-paddings(1rem);
        font-size: 1rem;
    }
    p {
        margin-top: 0;
        width: 60%;
        text-align: center;
        text-align: center;
        @media screen and (max-width: 660px) {
            width: 90%;
        }
    }
    button {
        font-size: inherit;
        padding: 0.5rem 2rem;
        @media screen and (max-width: 660px) {
            width: 90%;
        }
    }
}