body {
    max-height: 100vh;
}

#notFound {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, transparent, hsla(0deg, 0%, 100%, 0.09));
    * {
        margin: 0.8rem 0;
    }
    h1 {
        font-size: 3rem;
        text-shadow: 2px 2px hsl(357, 96%, 44%);
    }
    a {
        padding: 0.5rem 1rem;
        border-radius: 0.1rem;
        text-decoration: none;
        color: white;
        background-color: hsl(357, 96%, 44%);
        border: none;
        &:hover{
            background-color: hsl(357, 95%, 49%);
        }
    }
    p {
        font-size: 1.3rem;
        text-align: center;
        &:nth-last-of-type(1) {
            margin-top: 3rem;
            padding: 0.5rem;
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
            font-family: monospace;
            border-left: 2px solid hsl(357, 96%, 44%);
            color: hsla(0, 0%, 100%, 0.4);
            span {
                color: white;
            }
        }
    }
}